p {
    font-size: 16px;
}
a {
    font-size: 14px;
}
.global-menu p a {
    color: blue;
}
.global-menu p a:hover {
    color: gray;
    text-decoration: none;
}
.global-menu {
    background-image: url(/public/assets/link-256.png );
    background-color: orange;
    background-position: left top;
}
.menu-button {
	background-color: red;
	border: black solid;
}
