h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}
.global-header {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 50px;
}

.global-menu {
  position: absolute;
  left : 0;
  width: 200px;
  top: 50px;
  bottom: 120px;
  margin: 0;
  background-repeat: no-repeat;
}

.global-main {
  position: absolute;
  left: 200px;
  right: 0;
  top: 50px;
  bottom: 120px;
  margin: 0;
}

.global-footer {
  position: absolute;
  left: 0;
  width: 1360px;
  bottom: 0;
  height: 100px;
  margin: 0;
}
